@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

@import url('https://cdn.jsdelivr.net/fontsource/fonts/google-sans:vf@latest/latin-wght-normal.woff2');
@import "tailwindcss";


body {
    font-family: 'Google Sans Variable', sans-serif;
}
.hero-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.hero-heading em {
    font-style: italic;
}
